
    <% @listings.each do |listing| %>
        <strong><%= link_to listing.name, listing %></strong><br>
        <%= listing.price %><br>
        <p><%= truncate listing.description, length: 80 %></p>
        <% if user_signed_in? && current_user.admin? %>
          <%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-link" %>  |  
          <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
        <% end %>
    <% end %>