<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <%= image_tag @listing.image.url %>
    </div>
  </div>
  <div class="col-md-6">
    <h3><%= @listing.name %></h3>
    <div class="star-rating" data-score= <%= @avg_rating %> ></div>
    <p><%= "#{@reviews.length} reviews" %></p>
    <p><%= number_to_currency(@listing.price) %></p>
    <p><%= @listing.description %></p>

      <p><%= link_to "Buy It Now", new_listing_order_path(@listing), class: "btn btn-primary" %></p>

    <h4>Reviews</h4>

    <%= link_to 'Write Review', new_listing_review_path(@listing), class: "btn btn-primary" %>

    <p class="comment">
    <% if @reviews.blank? %>
      <h3 class="text-center">No reviews yet. Be the first to write one!
        &nbsp;<%= link_to 'Write Review', new_listing_review_path(@listing), class: "btn btn-primary" %></h3>
      <% else %>
    <% @reviews.each do |review| %>
    <p><div class="star-rating" data-score= <%= review.rating %> ></div></p>
      <%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>
    <% end %>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %>
<%= link_to 'Back', listings_path, class: "btn btn-link" %>

  <script>
    $('.star-rating').raty({
      starOff: 'https://dl.dropbox.com/s/a3qo7edr7kljtg9/star-off.png',
      starOn: 'https://dl.dropbox.com/s/aa9cvcklzogag9o/star-on.png',
      starHalf: 'https://dl.dropbox.com/s/wlel79korgp19sz/star-half.png',
      halfShow: true,
      half: true,
      readOnly: true,
      score: function(){
        return $(this).attr('data-score');
      }
    });
  </script>