<%= form_for([@listing, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="star-rating"></div>

  <div class="form-group">
    <%= f.text_area :comment, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>

<script>
    $('#star-rating').raty({
      starOff: 'https://dl.dropbox.com/s/a3qo7edr7kljtg9/star-off.png',
      starOn: 'https://dl.dropbox.com/s/aa9cvcklzogag9o/star-on.png',
      starHalf: 'https://dl.dropbox.com/s/wlel79korgp19sz/star-half.png',
      halfShow: true,
      half: true,
      scoreName: 'review[rating]'
    });
  </script>
